.displaywrap {
  background: linear-gradient(45deg, rgba(146,187,234,0) 0%,rgba(146,187,234,0.8) 15%,rgba(146,187,234,1) 19%,rgba(146,187,234,1) 20%,rgba(170,208,240,1) 50%,rgba(146,187,234,1) 80%,rgba(146,187,234,1) 81%,rgba(146,187,234,0.8) 85%,rgba(146,187,234,0) 100%);
}

.icon {
  position: relative;
}

.icon > img {
  background: radial-gradient(ellipse at center, rgba(235,241,246,1) 0%,rgba(171,211,238,1) 50%,rgba(137,195,235,1) 51%,rgba(213,235,251,1) 100%);
}

.icon .index {
  position: absolute;
  top: 4px;
  left: 5px;
  font-size: 12px;
  font-weight: bold;
  text-shadow: 1px 1px white;
}