body{
	font-family: sans-serif;
}
.right{
	text-align: right;
}
.left{
	text-align: left;
}
.center{
	text-align: center;
}
.verttop{
	vertical-align: top;
}

.b{
	font-weight: bold;
}


.nopad{
	padding: 0 !important;
}
.noborder{
	border: none !important;
}
.number{
	font-family: monospace;
	font-size: 15px;
}


.rounded{
	border: 1px solid black;
	border-radius: 6px;
}
.index{
	display: inline-block;
	width: 20px;
}

#Menu{
	margin: 0;
	padding: 0;
}

#Menu li{
	display: inline-block;
	width: 100px;
	text-align: center;
	border: 1px solid black;
	border-radius: 8px;
	margin: 1px;
}

#Menu li:hover{
	cursor: pointer;
	background-color: darkblue;
	font-weight: bold;
}

#Menu li a{
	font-variant: small-caps;
	text-decoration: none;
	color: black;
	width: 100%;
	display: inline-block;
}

#Menu li a:hover{
	color: white;
}